// 适配css
@media only screen and (max-width: 767px) {
  .pageMain {
    width: 85%;
    max-width: 85%;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    float: none;

    .home {
      margin: 0;
    }

    .className {
      margin: 0 10px;
    }
  }
  .list p{
    width: 33.3%;
  }
  .content{
    padding: 20px;
  }
}
@media only screen and (max-width: 560px) {
  .header img{
      width: 350px;
  }
  .className{
    .title{
      padding-left: 10px;
    }
    .el-input{
      width: 200px;
    }
  }
  .lists{
    padding-left: 10px;
  }
  .pageMain{
    width: 100%;
    max-width: 100%;
  }
}